<div class="col-md-12"> 
	<h4>Contributions for 01/01/2013 - 12/31/2013</h4>
	<table class="table table-hover table-condensed table-responsive">
		<thead>
			<tr>
				<th><a href="" ng-click="predicate = 'fiscal_year'; reverse=!reverse">Fiscal Year</a></th>
				<th><a href="" ng-click="predicate = 'date_given'; reverse=!reverse">Date Given</a></th>
				<th><a href="" ng-click="predicate = 'fund_name'; reverse=!reverse">Fund Name</a></th>
				<th><a href="" ng-click="predicate = 'type'; reverse=!reverse">Type</a></th>
				<th><a href="" ng-click="predicate = 'check_number'; reverse=!reverse">Check #</a></th>
				<th><a href="" ng-click="predicate = 'amount'; reverse=!reverse">Amount</a> </th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="contribution in contributions | orderBy:predicate:reverse">
				<td>{{contribution.fiscal_year}}</td>
				<td>{{contribution.date_given}}</td>
				<td>{{contribution.fund_name}}</td>
				<td>{{contribution.type}}</td>
				<td>{{contribution.check_number}}</td>
				<td>{{contribution.amount}}</td>
			</tr>
		</tbody>
	</table>
</div>   